In [12]:
%load_ext autoreload
%autoreload 2

In [1]:
from deeper.DeepER import init_embeddings_index,init_embeddings_model

In [2]:
# Caricamento strutture dati e modelli ausiliari.
EMBEDDING_FILEPATH ='embeddings/glove.6B/glove.6B.300d.txt'
embeddings_index = init_embeddings_index(EMBEDDING_FILEPATH)
emb_dim = len(embeddings_index['cat']) # :3
embeddings_model, tokenizer = init_embeddings_model(embeddings_index)

* Costruzione indice degli embeddings.....Fatto. 400000 embeddings totali.
* Creazione del modello per il calcolo degli embeddings....
* Inizializzo il tokenizzatore.....Fatto: 400000 parole totali.
* Preparazione della matrice di embedding.....Fatto. Dimensioni matrice embeddings: (400001, 300)

°°° EMBEDDING MODEL °°°
Model: "model_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Tupla_A (InputLayer)            (None, None)         0
__________________________________________________________________________________________________
Tupla_B (InputLayer)            (None, None)         0
__________________________________________________________________________________________________
Embedding_lookup (Embedding)    (None, None, 300)    120000300   Tupla_A[0][0]
                                                                 Tupla_B[0][0]
==================================================================================================
Total params: 120,000,300
Trainable params: 0
Non-trainable params: 120,000,300
__________________________________________________________________________________________________

In [3]:
from keras.models import load_model
fodors_model = load_model('models/DeepER_best_model_100_fodors_zagats.h5')

In [24]:
from explanation.sampleBuilder import prepareDataset

augmented_test = prepareDataset('datasets/fodors_zagats/','test.csv','fodors.csv','zagats.csv',
                               30)

New negatives per sample are 2

In [20]:
augmented_test.to_csv('datasets/fodors_zagats/augmented_test3.csv',index=False)

In [16]:
from deeper.deeper_utils import wrap_deeper
import numpy as np
import pandas as pd
test = pd.read_csv('datasets/fodors_zagats/augmented_test.csv')
predictions = wrap_deeper(test,'ltable_','rtable_',fodors_model,tokenizer,embeddings_model)

In [17]:
from sklearn.metrics import f1_score
predicted_label = np.argmax(predictions,axis=1)
f1_score(test.label.values,predicted_label)

0.5625000000000001

In [21]:
test = pd.read_csv('datasets/fodors_zagats/augmented_test2.csv')
predictions = wrap_deeper(test,'ltable_','rtable_',fodors_model,tokenizer,embeddings_model)
predicted_labels = np.argmax(predictions,axis=1)
f1_score(test.label.values,predicted_labels)

0.3829787234042553

In [23]:
test.tail(20)

    label              ltable_name  ... rtable_class       id
78      0               ciboulette  ...          733  613#199
79      0      'brasserie le coze'  ...          733  611#199
80      0                  aureole  ...          733  559#199
81      0         'georgia grille'  ...          733  615#199
82      0        'gramercy tavern'  ...          733  570#199
83      0                valentino  ...          733  555#199
84      0     'grill on the alley'  ...          733  543#199
85      0   'khan toke thai house'  ...          733  637#199
86      0                    dawat  ...          751  566#217
87      0          'carnegie deli'  ...          751  563#217
88      0            'chez michel'  ...          751  633#217
89      0  'hedgerose heights inn'  ...          751  616#217
90      0               ciboulette  ...          751  613#217
91      0      'brasserie le coze'  ...          751  611#217
92      0                  aureole  ...          751  559#217
93      0         'georgia grille'  ...          751  615#217
94      0        'gramercy tavern'  ...          751  570#217
95      0                valentino  ...          751  555#217
96      0     'grill on the alley'  ...          751  543#217
97      0   'khan toke thai house'  ...          751  637#217

[20 rows x 14 columns]